@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

#logo{
    display: none;
}

#cadastro{
    order: -1;
    background-color: white;
    border-radius: 24pt 0 0 24pt;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 40pt ;
    flex: 1 1 55%;
}

#imagem{
    background : url(../images/fundo-cadastro.jpeg) no-repeat center center / cover;
    width: 45%;
    border-radius: 0 24pt 24pt 0;
}


main{
    height: 100%;
}

form  div{
    display: flex;
    flex-flow: column wrap;
    height: 100px;
    gap: 10px;
   

}

form > div{
 margin-bottom: 5px;
}



.write-container{
    width: 50%;
    
}

.write{
    width: 95%;
    height: 95%;
    padding: 2.5%;
}


@media screen and (max-width: 768px){

    
    #imagem{
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        border-radius: 0 0 24pt 24pt;
    }

    #cadastro{
        grid-area: 2 / 1 / 3 / -2;
        padding: 24pt 24pt 64pt 24pt;
    }
    .write-container{
        width: 100%;
        
    }

    form > div{
        display: flex;
        flex-flow: column nowrap;
        height: 200px;

        
    }
    #logo{
    display: block !important;
    left: 50%;
    transform: translate(-50%);
    top: 14%;
    position: absolute;
    width: 150px;
    overflow: visible;
    z-index: 1000;
    }
}

#error{
    text-align: right;
    color: red;
}




