@charset "UTF-8";

body{
    display: flex;
    width: 100dvw;
    height: 100dvh;
}
main{
    grid-template: 4.5fr auto 4.5fr /30% auto 30% ;
}

section{
    background-color: var(--card-color);
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
    padding: 24pt;
    display: flex;
    flex-flow: column nowrap;
    gap: 12pt;
}

#icon{
    background-image: var(--gradient);
    padding: 10px;
    font-size: 28pt;
    border-radius: 50%;
    width: 80px;
    height: 76px;
    align-content: center;
    text-align: center;
    margin: auto;
}



.write{
    width: 98.5%;
    height: 70%;
    padding: 8px;
}

#back{
    font-family: 'Poppins';
    font-weight: bold;
    color: darkolivegreen;
}

#submit-button{
    margin-top: 12pt;
}

@media screen and (max-width: 768px){
    main{
        grid-template: 15dvh 1fr 15dvh/ 24pt auto 24pt ;
    }

    h1{
    font-size: 18pt;
}
    p{
  
        font-size: 10pt;
    }   
}

